section p {
    color: yellowgreen;
    background-color: tomato;
    width: 200px;
    margin: 0 auto ;
    text-align: center;
}

section>ul {
    color:blue;
}

h1 {
    font-weight: bold;
    border: 3px dashed black;
    width: 400px;
    margin: 0 auto; 
    text-align: center;
}

.men {
    color:green;
}

.musicianName .men {
    color: palevioletred;
}

ul.women{
    color:aqua;
}
