img {
  max-width: 300px;
}

.img1 {
  visibility: visible;
}

.img2 {
  visibility: hidden;
}

.img3 {
  /* visibility: hidden; */
  display: none;
}

.img4 {
  visibility: visible;
}

.container {
  background-color: aqua;
}
